html{color: var(--white);}
/** ------------------ Contenedor principal ------------------ */
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--black);
}

/** ------------------ Titulo ------------------ */
.companyTitle{
    position: absolute;
    width: 200px;
    display: inline;
    font-size: 2rem;
    left: calc(50vw - 100px);
    text-align: center;
    cursor: pointer;
}

/** ------------------ Contenedor del formulario e imagen ------------------ */
.container{
    width: 70vw;
    height: 80vh;
    display: inherit;
    background-color: var(--gray);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.88);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.88);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.88);
}

/** ------------------ Contenedor de la imagen ------------------ */
.containerImg{
    width: 45%;
    height: 100%;
    background-image: url(../assets/LoginImage.jpg);
    background-size: cover;
    background-clip: border-box;
    background-repeat: no-repeat;
    filter: blur(2px);
}

/** ------------------ Contenedor del formulario y titulo: inicio de sesion/ registro ------------------ */
.containerInfo{
    width: 65%;
    height: 100%;
    display: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    color: var(--white);
}

/** ------------------ Titulo del formulario ------------------ */
.containerInfo__Title{
    width: 90%;
    padding: 0.3rem 0;
    border-bottom: solid 1px var(--white);
    text-align: center;
}

/** ------------------ Contenedor del formulario ------------------ */
.containerForm{
    width: 90%;
    padding: 0 1rem;
    display: inherit;
    flex-direction: inherit;
}

/** ------------------ Distancia de los label respecto a sus input ------------------ */
.containerForm__label{margin: .3rem 0;}

/** ------------------ Estilos de los input ------------------ */
.containerForm__input{
    width: 90%;
    height: 2rem;
    margin: 0 .5rem;
    border: none;
    color: inherit;
    padding: .5rem;
    background-color: #383838;
}

/** ------------------ Efecto de los input ------------------ */
.containerForm__input:focus, .form__input:active{ outline: none;}
.containerForm__input[required]:valid{border: thin solid var(--valid);}
.containerForm__input[required]:invalid{border: thin solid var(--invalid);}

/** ------------------ Contenedor para los botones ------------------ */
.containerButtons{
    width: 95%;
    display: inherit;
    justify-content: space-between;
    margin-top: 1rem;
}

/** ------------------ Estilo de los botones ------------------ */
.containerButtons__btn{
    width: 40%;
    height: 2rem;
    border-radius: 3rem;
    color: var(--purple);
    cursor: pointer;
    background-color: transparent;
    border: solid 1px var(--purple);
}

/** ------------------ Efecto de los botones ------------------ */
.containerButtons__btn:hover{
    color: var(--white);
    background-color: var(--purple);
}

/** ------------------ Efectos en para mensajes de error ------------------ */
.input__form-error{
    display: block;
    width: 90%;
    font-size: .8rem;
    margin: -.3rem 0 0 1.82rem;
    text-align: center;
    background-color: var(--invalid);
    padding: .2rem 0;
    color: var(--white);
    transform: all 1s ease;
}
.none{display: none;}
.input__form-error .is_active{
    display: block;
    animation: show-message 1s 1 normal 0s ease both;
}

/** ------------------ Animacion para mensajes de error ------------------ */
@keyframes show-message {
    0%{
        visibility: hidden;
        opacity: 0;
    }
    100%{
        visibility: visible;
        opacity: 1;
    }
}